<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Resetear Clave
        </div>
        <div class="card-body">
          <form id="resetForm">
            <input type="email" id="email" value="{{email}}">
             
            </input>
            <div class="form-group">
              <label for="password">
                Nueva Clave
              </label>

              <input
                type="password"
                class="form-control"
                id="password"
                required
              />
            </div>
            <div class="form-group">
              <label for="confirmPassword">
                Confirmar Nueva Clave
              </label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">
              Resetear Clave
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/reset-password.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>